{% extends 'base.html.twig' %}

{% block title %}
    About us | {{ parent() }}
{% endblock %}

{% block body %}
    <p>
        Davy Jones' Locker loaded to the gunwalls gaff loot hulk snow heave to hands barque pillage. Mizzenmast Blimey scuttle lugger spike cable chase jolly boat Pirate Round furl. Cutlass man-of-war deadlights hornswaggle tack bilge rat hail-shot lateen sail lass skysail.
        Squiffy Nelsons folly careen grapple pressgang bucko log haul wind matey heave to. Coffer pinnace cog wench chase killick Yellow Jack scuppers crack Jennys tea cup bucko. Hornswaggle scourge of the seven seas flogging pillage clipper belaying pin case shot keelhaul hang the jib bilged on her anchor.
    </p>
{% endblock %}

