{% extends 'base.html.twig' %}

{% block title %}
    Wishes List | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>List of wishes</h2>

    <ul>
        {% for wish in wishes %}
            <li>
                <a href="{{ path('wish_details', {'id': wish.id}) }}">
                    {{ wish.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}



